h1 { font-size: 62px; }

#first_example { height:300px; }
#barrel_roll, #clockify { position: relative; }

#second_example_code { height:200px; }
#collection, #wild { position: relative; }

#third_example { height:520px;}