h1 { font-size: 62px; }
body { background-color: black; }

@mixin first_example_background { background-color: DarkRed; }
@mixin second_example_background { background-color: LightBlue; }

p.github { 
	font-size: 18px;
	float:right;
	color: DarkBlue;
}

#header { 
	background-color:orange; 
	h1 { padding:10px; }
	h4 { 
		padding: 0px 20px;
		font-style: italic;
		background-color:yellow;
	}
}

#first_example { @include first_example_background; }

#first_example_code { 
	@include first_example_background;
	height: 150px;
	#barrel_roll, #clockify { position: relative; }
	a { color: LightBlue; }	
}

#second_example { @include second_example_background; }

#second_example_code { 
	@include second_example_background;
	height: 200px; 
	#collection, #wild { position: relative; }	
}

#third_example { 
	background-color: SandyBrown;
	height:520px;
	#transform_roller { position: relative; }
}