h1 {
  font-size: 62px; }

body {
  background-color: black; }

#header {
  background-color: orange; }
  #header h1 {
    padding: 10px; }
  #header h4 {
    padding: 0px 20px;
    font-style: italic;
    background-color: yellow; }

#first_example {
  background-color: DarkRed;
  height: 300px; }
  #first_example #barrel_roll, #first_example #clockify {
    position: relative; }

#second_example {
  background-color: LightBlue; }

#second_example_code {
  background-color: LightBlue;
  height: 200px; }
  #second_example_code #collection, #second_example_code #wild {
    position: relative; }

#third_example {
  background-color: LightGreen;
  height: 520px; }
  #third_example #transform_roller {
    position: relative; }
