h1 {
  font-size: 62px; }

body {
  background-color: black; }

p.github {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  font-size: 18px;
  float: right;
  color: white;
  position: relative;
  top: 45px;
  left: 10px;
  background-color: black;
  padding: 3px;
  border-radius: 0px 0px 15px 15px; }

#header {
  background-color: orange; }
  #header h1 {
    padding: 10px; }
  #header h4 {
    padding: 0px 20px;
    font-style: italic;
    background-color: yellow; }

#first_example {
  background-color: DarkRed; }

#first_example_code {
  background-color: DarkRed;
  height: 150px; }
  #first_example_code #barrel_roll, #first_example_code #clockify {
    position: relative; }
  #first_example_code a {
    color: LightBlue; }

#second_example {
  background-color: LightBlue; }

#second_example_code {
  background-color: LightBlue;
  height: 200px; }
  #second_example_code #collection, #second_example_code #wild {
    position: relative; }

#third_example {
  background-color: SandyBrown;
  height: 520px; }
  #third_example #transform_roller {
    position: relative; }
